.JobSearchForm {
    width: 65vw;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
}

.JobSearchForm-button {
    width: 50vw;
    margin-top: 10px;
}

label {
    text-align: left;
    font-weight: bold;
}

.form-group {
    margin: 15px;
}