.LoginForm {
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
}

.LoginForm-button {
    width: 30vw;
    margin-top: 10px;
}

.alert {
    margin-top: 15px;
}

label {
    text-align: left;
    font-weight: bold;
}

.form-group {
    margin: 15px;
}